// D-modal

.d-modal {
  &__container {
    border-radius: #{$modal_border_radius} #{$modal_border_radius} 0 0;
    
    .fk-d-menu-modal__grip {
      display: none;
    }
    
    html.discourse-touch.keyboard-visible & {
      border-radius: 0;
    }
  }

  html.discourse-touch:not(.keyboard-visible) & {
    &__container {
      --grip-width: #{$modal_grip_width};
      --grip-height: #{$modal_grip_height};
      &:before {
        content: "";
        position: absolute;        
        left: calc(50% - (var(--grip-width) / 2));
        margin-top: #{$modal_grip_vertical_position};
        width: var(--grip-width);
        height: var(--grip-height);
        background: #{$modal_grip_background};
        border-radius: 2em;
        @if $modal-grip-animation-enabled == "true" {
          animation: modal-grip #{$modal_grip_animation_speed} ease-in-out;
        }
      }
    }
    &__header {
      padding: 0.5rem;
      .d-modal__title {
        text-align: center;
        margin: auto;
      }
      .modal-close {
        display: none;
      }
    }
  }

  // Known Non Dismissable Modals
  &.admin-delete-user-posts-progress-modal {
    .d-modal__container {
      &:before {
        display: none;
      }
    }
  }

  // New Private Chat Modal
  &.chat-modal-new-message {
    align-items: flex-end;
    .d-modal__container {
      width: 100%;
    }
  }

  // Table Builder Modal
  &.insert-table-modal {
    flex-direction: unset;
    .d-modal__container {
      max-height: calc(var(--composer-vh, var(--1dvh)) * 85);
      height: auto;
    }
  }

  // Templates Modal
  &.d-templates-modal {
    flex-direction: unset;
  }
}

// Modal Grip Animation

@keyframes modal-grip {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 0.75;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
